<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<!-- http 요청 핸들러/컨트롤러를 위한 중앙 디스패치 웹 UI컨트롤러 또는 HTTP기반 원격 서비스 내보내기의 경우, 편리한 
		매핑 및 예외 처리 기능을 제공하여 웹 요청을 처리하기 위해 등록된 처리기로 디스패치. DispatcherServlet의 경우 실제 
		서블릿(httpservlet 기본 클래스에서 상속됨)이므로 웹 앱의 web.xml에서 선언됩니다. dispatcherservlet을처리하기를 
		원하는 요청은 동일한 web.xml파일에서 url맾이을 사용하여 매핑되어야 합니다. -->

	<display-name>pro21</display-name>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<!-- 톰캣 실행 시 dispatcherservlet 을 미리 메모리에 로드. -->
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<!-- *.do 호출 -> action -> action -> org.spring~~~~~~sevlet 클래스 호출. -->


</web-app>